extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre Nosotros", class="img-fluid")
            .col-md-7
                //h1 #{pagina}    
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at tempor ante. Nulla molestie risus ac augue malesuada, nec euismod nibh accumsan. Pellentesque volutpat nisl non nulla auctor venenatis.

                p Aenean condimentum iaculis ex, posuere imperdiet nunc finibus semper. Donec sollicitudin scelerisque venenatis. Morbi gravida metus ac turpis viverra, et mattis elit imperdiet. Aenean ut porttitor nulla. Aenean eu velit rhoncus, sagittis enim vehicula, malesuada ipsum. 

                p Etiam facilisis mauris ut nulla hendrerit iaculis. Aenean sit amet risus ut eros iaculis pharetra. Fusce facilisis nulla a maximus ultricies. Etiam sed nisl quis leo aliquam lacinia. Cras tempor metus dolor, quis scelerisque turpis dapibus in. Proin molestie gravida risus. Curabitur ut nunc ligula.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono de Seguridad"  width=150 heigth=150, class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Cras tempor metus dolor, quis scelerisque turpis dapibus in. Proin molestie gravida risus. Curabitur ut nunc ligula.
                .col-md-4    
                    img(src="img/icono_destinos.svg", alt="Icono de Destinos"  width=150 heigth=150, class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Cras tempor metus dolor, quis scelerisque turpis dapibus in. Proin molestie gravida risus. Curabitur ut nunc ligula.
                .col-md-4    
                    img(src="img/icono_precios.svg", alt="Icono de Precios"  width=150 heigth=150, class="img-fluid mb-4")
                    h2.mb-4 Mejores Preciose
                    p Cras tempor metus dolor, quis scelerisque turpis dapibus in. Proin molestie gravida risus. Curabitur ut nunc ligula.